@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Add this CSS in your global.css or in the component using Tailwind's @layer */
@keyframes zoomSlow {
  0% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.05);
  }
}
.animate-zoomSlow {
  animation: zoomSlow 10s infinite alternate ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeIn {
  animation: fadeIn 1s ease forwards;
}
.delay-200 {
  animation-delay: 0.2s;
}
.delay-500 {
  animation-delay: 0.5s;
}
